<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">first_name</Data></Cell>
        <Cell><Data ss:Type="String">last_name</Data></Cell>
        <Cell><Data ss:Type="String">class_id</Data></Cell>
	<% if Labs.first.most_recent_lab > 0 %>
	  <% (1..Labs.first.most_recent_lab).each do |i| %>
	    <% lab_name = Labs.first.lab_to_str(i) %>
            <Cell><Data ss:Type="String"><%= Student.first.lab_to_str(i) if Labs.first.send(lab_name) %></Data></Cell>
	  <% end %>
        <% end %>
        <Cell><Data ss:Type="String">email</Data></Cell> 
      </Row>
     
      <% @students.each do |student| %>
        <Row>
          <Cell><Data ss:Type="String"><%= student.first_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.last_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student.class_id %></Data></Cell>
  	  <% if Labs.first.most_recent_lab > 0 %>
	    <% (1..Labs.first.most_recent_lab).each do |i| %>
	      <% lab_name = student.lab_to_str(i) %>
              <Cell><Data ss:Type="Number"><%= student.send(lab_name) if student.send(lab_name) %></Data></Cell>
	    <% end %>
	  <% end %>
          <Cell><Data ss:Type="String"><%= student.email %></Data></Cell>
        </Row>
      <% end %>
    
    </Table>
  </Worksheet>
</Workbook>
