<h2>Dashboard</h2>
<h3>Lab Grades</h3>
<!--<p>Find me in app/views/site/index.html.erb</p>--><br>

<div id="top">
  <div id="left" style="float:left; width:80%;">
    <p>
      <em>Download:</em>
      <%= link_to "CSV", dashboard_path(format: "csv") %> |
      <%= link_to "Excel", dashboard_path(format: "xls") %>
    </p><br>
    <h5><strong>Import Students:</strong></h5>
    <%= form_tag import_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  </div>

  <div id="right" style="float:right; width:20%">  
    <h5><strong>Add New Lab:</strong></h5>
    <div>
      <%= form_tag add_col_path do %>  
        <div style="float:left;">
          <%= text_field_tag :add_max_score,
              nil,
              placeholder: "Max Score: 10",
              size: 11,
              maxlength: 3,
              class: "form-control" %>
        </div>
        <div style="float:left;">
          <%= submit_tag "Add", 
              confirm: "Are You Sure?",
              class: "btn btn-default" %>
        </div>
      <% end %> 
   </div><br><br>

    <h5><strong>Remove Lab:</strong></h5>
    <div>
      <%= form_tag remove_col_path do %>
        <div style="float:left;">
          <%= text_field_tag "remove_lab_num",
              nil,
              placeholder: "Lab: " + Labs.first.most_recent_lab.to_s,
              size: 11,
              maxlength: 2,
              class: "form-control" %>
        </div>
        <div style="float:left;">
          <%= submit_tag "Remove",
              confirm: "Remove Lab",
              class: "btn btn-default" %>
        </div>
      <% end %>
    </div><br><br>

    <h5><strong>Set Default Lab:</strong></h5>
    <div>
      <%= form_tag set_default_path do %>
        <div style="float:left;">
          <%= text_field_tag "default_num",
              nil,
              placeholder: "Default: " + Labs.first.most_recent_lab.to_s,
              size: 11,
              maxlength: 2,
              class: "form-control" %>
        </div>
        <div style="float:left;">
          <%= submit_tag "Set",
              confirm: "Set As Default Lab?",
              class: "btn btn-default" %>
        </div>
      <% end %>
    </div><br><br>


  </div>
  <div style="clear:both;"></div>
</div>

<br><font color="green"><%= notice %></font><br>

<section id="tables">
  <!--<div class="page-header">-->
  <!--<h1>Tables</h1>-->
  <!--</div>-->

  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Class ID</th>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th>Email</th>
      <% (1..@labs.most_recent_lab).each do |i| %>
          <% lab_name = @labs.lab_to_str(i) %>
          <% lab_title = @labs.lab_title_to_str(i) %>
          <% if @labs.send(lab_name) %>
              <th>
                <%= "Lab " + i.to_s %>
                <%= "*" if i == @labs.default_lab %>
          	    <% title = @labs[lab_title] %>
                <% test = @labs[lab_name] %>
		        <%= "(" + test.to_s + ")" %>
                <%="\n"+ title.to_s %>
              </th>
          <% end %>
      <% end %>
      <th><a id="changeTitle" class="btn btn-default"> Title</a></th>
    </tr>
    <tr id="title" style="display: none" >
      <form action="title" method="get">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% (1..@labs.most_recent_lab).each do |i| %>
            <% lab_name = @labs.lab_to_str(i) %>
            <% lab_title = @labs.lab_title_to_str(i) %>
            <% if @labs.send(lab_name) %>
                <th>
                  <% title = @labs[lab_title] %>
                  <input id="title" type="text" name="<%=lab_title %>" class="form-control" placeholder="Enter title" value="<%=title.to_s%>"/>

                </th>
            <% end %>
        <% end %>


        <td><input id="cancel" class="btn btn-default" type="button" value="Cancel"/></td>
        <td><input id="change" class="btn btn-default" type="submit" value="Change"/></td>
      </form>
    </tr>
    </thead>
    <tbody>


    <% for student in @students do %>
        <tr id="list<%=student.id%>">
          <td><%= student.class_id %></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= link_to student.email, send_mail_path(student), confirm: "Are You Sure?" %></td>
          <% (1..@labs.most_recent_lab).each do |i| %>
              <% lab_name = @labs.lab_to_str(i) %>
              <% student_lab = student.lab_to_str(i) %>

              <td><%= student.send(student_lab) if @labs.send(lab_name) %></td>
          <% end %>
          <td>
            <a id="edit<%=student.id%>" class="btn btn-default"> Edit</a>
          </td>
          <td>
            <%= button_to "Remove",
                          remove_student_path(student),
                          confirm: "Are You Sure?",
                          class: "btn btn-default" %>
          </td>
        </tr>
        <tr id="form<%=student.id %>" style="display: none " >
          <form action="update" method="get">
            <input style="display: none;" type="text" name="id" value="<%=student.id%>"/>
            <td><input type="text" class="form-control" id="classId" name="classId" placeholder="Enter class ID" value="<%= student.class_id %>"/></td>
            <td><input type="text" class="form-control" id="firstname" name="firstName" placeholder="Enter first name" value="<%= student.first_name %>"/></td>
            <td><input type="text" class="form-control" id="lastname" name="lastName" placeholder="Enter last name" value="<%= student.last_name %>"/></td>
            <td><input type="text" class="form-control" id="email" name="email" placeholder="Enter email" value="<%= student.email%>"/></td>
            <% (1..@labs.most_recent_lab).each do |i| %>
                <% lab_name = @labs.lab_to_str(i) %>
                <% student_lab = student.lab_to_str(i) %>
                <td><input type="text"  class="form-control col-sm-1" id="<%= lab_name[0..4] %>" name="<%=lab_name[0..4]%>" value="<%= student.send(student_lab) if @labs.send(lab_name) %>"/></td>
            <% end %>

            <td><input id="cancel<%=student.id%>" class="btn btn-default" type="button" value="Cancel"/></td>
            <td><input id="change<%=student.id%>" class="btn btn-default" type="submit" value="Change"/></td>
          </form>
        </tr>
        <script>
            $(document).ready(function(){
                $('#changeTitle').click(function(){
                    $('#title').css('display','' );
                    $('#changeTitle').css('display','none' );
                });
                $('#cancel').click(function(){
                    $('#title').css('display','none');
                    $('#changeTitle').css('display','' );
                });
                var div = document.getElementById('container')
                    $('#container').append("<"+ "script" +">"
                            + "$('#"+"edit"+"<%=student.id%>"+"')" +".click(function(){"
                            + "$('#"+"form"+"<%=student.id%>"+"')"+ ".css('display', '');"
                            + "$('#"+"list"+"<%=student.id%>"+"')"+ ".css('display', 'none');"
                            +"});"

                            + "$('#"+"cancel"+"<%=student.id%>"+"')" +".click(function(){"
                            + "$('#"+"form"+"<%=student.id%>"+"')"+ ".css('display', 'none');"
                            + "$('#"+"list"+"<%=student.id%>"+"')"+ ".css('display', '');"
                            +"});"

                            + "</" +"script" +">");

            });


        </script>
    <% end %>

    </tbody>
  </table>
</section>


<!--form allowing users to enter first and last name of a person to be added to the table -->
<h4>Add Additional Student</h4>
<div class="input-group">
  <form name="input" action="dashboard" method="get">
    <div class="row">
      <div class="col-lg-2">
            <span class="input-group-btn">
              <input style="width:auto;" type="text" name="FirstName" class="form-control" placeholder="First Name" required="true">
              <input style="width:auto;" type="text" name="LastName" class="form-control" placeholder="Last Name" required="true">
              <input style="width:auto;" type="text" name="classID" class="form-control" placeholder="Class ID" required="true">
              <input style="width:auto;" type="text" name="Email" class="form-control" placeholder="Email" required="true">
              <button style="width:auto;" type="submit" value="Submit" class="btn btn-default">Add</button>
            </span>
      </div>
    </div>
  </form>
</div>

<h4>Find QR Code</h4>
<div class="input-group">
  <form name="input" action="qr" method="get">
    <div class="row">
      <div class="col-lg-2">
            <span class="input-group-btn">
                <input style="width:auto;" type="text" name="Class_id" class="form-control" placeholder="Class ID" required="true">
                <button  style="width:auto;" type="submit" value="Submit" class="btn btn-default">Find</button>
            </span>
      </div>
    </div>
  </form>
</div>

<h4>Send Email To All Students</h4>
<%= button_to "Send", mass_qr_path, confirm: "Are You Sure?", class: "btn btn-default" %>
