<h2>Account Management</h2>

<font color="red"> <%= flash[:notice] %> </font>
<br>
  
 
<% if @user != nil && @user.privilege == 1 %>
<table>
<tbody>
<tr>
           <td> Username </td>
           <td> Password </td>
           <td> Privilege </td>
           <td> Reset </td>
<tr>

<% @accounts.each do |x| %>
<tr>
 <form name="input" action="manage" method="get">
  <td> <input style="width:auto;" type="text" name="username" class="form-control" value=<%= x.username%> required="true" readonly="true"> </td>
            <td> <input style="width:auto;" type="text" name="password" class="form-control" value=<%= x.password %> required="true"> </td>
            <td> <input style="width:auto;" type="text" name="privilege" class="form-control" value=<%= x.privilege %> required="true"> </td>
            <td> <input style="width:auto;" type="text" name="reset" class="form-control" value=<%= x.reset %> required="true" readonly="true"> </td>
            <td> <button style="width:auto" type="submit" value="Submit" class="btn btn-default" formmethod="get" formaction="manage">Change</button> </td>
            <td> <button style="width:auto" type="submit" value="Submit" name="delete"  class="btn btn-default" formmethod="get" formaction="manage">Delete</button> </td>
 </form>
</tr>
<% end %>

</tbody>
</table>

<h4>Add Additional Account</h4>
<div class="input-group">
  <form name="input" action="manage" method="get">
    <div class="row">
      <div class="col-lg-2">
            <span class="input-group-btn">
              <input style="width:auto;" type="text" name="CreateUsername" class="form-control" placeholder="Username" required="true">
              <input style="width:auto;" type="text" name="CreatePassword" class="form-control" placeholder="Password" required="true">
              <input style="width:auto;" type="text" name="CreatePrivilege" class="form-control" placeholder="Privilege" required="true">
              <button style="width:auto;" type="submit" value="Submit" class="btn btn-default">Add</button>
            </span>
      </div>
    </div>
  </form>
</div>

<% else %>

 <form name="input" action="manage" method="get">
  Username
  <input style="width:auto;" type="text" name="username" class="form-control" value=<%= @user.username%> required="true" readonly="true">
  <br>
  Enter Old Password
  <input style="width:auto;" type="password" name="old_password" class="form-control" placeholder="old password" required="true">
  <br>
  New Password
  <input style="width:auto;" type="password" name="new_password" class="form-control" placeholder="new password" required="true"> 
  <br>
  Confirm New Password
  <input style="width:auto;" type="password" name="confirm_password" class="form-control" placeholder="confirm new password" required="true">
  <br>
  <button style="width:auto" type="submit" value="Submit" class="btn btn-default" formmethod="get" formaction="manage">Change</button>
 </form>






<% end %>







