<h2>Request Password Reset</h2>
    <div class="input-group">
      <form name="input" action="lostaccount" method="get">
        <div class="row">
          <div class="col-lg-2">
            <span class="input-group-btn">
              <input style="width:auto;" type="text" name="first_name" class="form-control" placeholder="First Name" required="true">
              <br>
              <input style="width:auto;" type="text" name="last_name" class="form-control" placeholder="Last Name" required="true">
              <br>
              <input style="width:auto;" type="text" name="class_id" class="form-control" placeholder="Class ID" required="true">
              <br>
              <button style="width:auto;" type="submit" value="Submit" class="btn btn-default">Submit</button>
            </span>
          </div>
        </div>
      </form>
    </div>

<br>

<font color="red"><%= flash[:notice] %></font>
