<h2>LabGrader</h2>
<body>
    <h4>Welcome to our Lab Grade Logging System!</h4>
   
<% if session[:username] == nil %>
    <h5>If you do not have an account create one below.</h5>
<% else %>

     <% if Account.find_by_username(session[:username]).privilege == 1 %>
        <h5>Click the tabs above to navigate the pages.</h5>
     <%else%>
        <h5>You can find your qr code, and lab scores below. For your convienence you may want to save the qr code image by right clicking it.</h5>
     <%end%>

<% end %>
</body>



<!--<p>Find me in app/views/site/index.html.erb</p>-->
<font color="red"> <%= flash[:notice] %></font>
<br>

<% if session[:username] != nil %>
    <% if @png != nil %>
        <img width="250" height="250" src="<%= @png.to_data_url %>" />
   <% end %>

    <br>

      <% if @student != nil %>
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <% (1..@labs2.most_recent_lab).each do |i| %>
                  <% lab_name = @labs2.lab_to_str(i) %>
                  <th><%= "Lab " + i.to_s  if @labs2.send(lab_name) %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <tr>
              <% (1..@labs2.most_recent_lab).each do |i| %>
                  <% lab_name = @labs2.lab_to_str(i) %>
                  <% student_lab = @student.lab_to_str(i) %>
                  <td><%= @student.send(student_lab) if @labs2.send(lab_name) %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
      <%end%>

<%end%>

<% if session[:username] == nil %>
 
   <h4>Create User Account</h4>
    <div class="input-group">
      <form name="input" action="index" method="get">
        <div class="row">
          <div class="col-lg-2">
            <span class="input-group-btn">
              <input style="width:auto;" type="text" name="account" class="form-control" placeholder="Username" required="true">
              <br>
              <input style="width:auto;" type="password" name="password" class="form-control" placeholder="Password" required="true">
              <br>
              <input style="width:auto;" type="password" name="password2" class="form-control" placeholder="Confirm password" required="true">
              <br>
              <input style="width:auto;" type="text" name="class_id" class="form-control" placeholder="Class ID" required="true">
              <br>
              <button style="width:auto;" type="submit" value="Submit" class="btn btn-default">Create</button>
            </span>
          </div>
        </div>
      </form>
    </div>

    <br>

<%= link_to "Forgot your password?", lost_account_path, method: :get %>

    <br>


<h5>If you don't want to make an account you can find your qr code below.</h5>
    <div class="input-group">
      <form name="input" action="qr" method="get">
        <div class="row">
          <div class="col-lg-2">
            <span class="input-group-btn">
              <input style="width:auto;" type="text" name="Class_id" class="form-control" placeholder="Class ID" required="true">
              <button  style="width:auto;" type="submit" value="Submit" class="btn btn-default">Find</button>
            </span>
          </div>
        </div>
      </form>
    </div>
<% end %>






