<h2>Administrator Settings</h2>
<br>

Organization Name:
<br>
<%= form_tag settings_path do %>
  <%= text_field_tag 'org', @org, placeholder: 'None'%>
  <%= submit_tag 'Submit', id: 'submit' %>
<% end %>