<!DOCTYPE html>
<head>
</head>

<body>

<h2>Logger</h2>
<font color="green"><%= notice %></font><br>
<br>


<div class="input-group">

  <% if @Class_id == nil  %>
      <form name="input" action="logger" method="get">
  <% else %>
      <form id="current" name="input" action="save_grade" method="patch">
  <% end %>

    <div class="row">
      <div class="col-lg-2">
      
        <% if @Class_id == nil %>
          <span class="input-group-btn">
            <input  style="width:auto" type="text" name="Class_id" class="form-control" placeholder="Class ID" required="true">
            <button style="width:auto" type="submit" value="Submit"  class="btn btn-default">View</button>
          </span> 
        <% else %>
          <span class="input-group-btn">
            <input style="width:auto"
                   type="text"
                   name="Class_id"
                   class="form-control"  
                   placeholder=<%= @Class_id %> 
                   value=<%= @Class_id %> 
                   readonly="true" >
            <button style="width:auto" class="btn btn-default" disabled="true">View</button>

            <% if @lock == true %>
              <input style="width:auto" type="checkbox" name="lock" value="locked" checked="true"> Lock</input>
            <% else %>
              <input style="width:auto" type="checkbox" name="lock" value="locked"> Lock</input>
            <% end %>
          </span><br>


            </span>
            <span class="input-group-btn">
              <input style="width:auto" type="text" name="labNo" class="form-control" placeholder=<%= @labNo %> value=<%= @labNo %> onchange="updateMax(this.value)">
              <button style="width:auto" class="btn btn-default" onclick="refreshFunction()">Change</button>
            </span><br>

            <span class="input-group-btn">
              <select id="list" style="width:auto" class="form-control" name="scoreNo">
                <% if @scores %>
                  <% for score in @scores do %>
                    <option><%= score %></option>
                  <% end %>
                <% end %>
              </select> 
 
            </span>

         <br>
         <button id="update"  style="width:300px;height:100px"  type="submit" value="Submit" class="btn btn-default" autofocus>Update</button>

         <% end %>
      </div>
    </div>

  </form>
</div><BR>
<hr>

<script>
function refreshFunction() {
   document.getElementById("current").getAttributeNode("action").value = "logger";
   document.getElementById("current").submit();
}

function updateMax(newLab) {
   <!-- alert("test");  -->
   document.getElementById("update").setAttribute("disabled", "false");
}
</script>


</body>
</html>
