<!DOCTYPE html>
<html>
<head>
  <title>LabGrader</title>
  <!--<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">-->
  <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon">-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li style="float:left;"><a class="navbar-brand" href=<%=root_path%>><h5>LabGrader</h5></a></li>
        <% if session[:username] && Account.find_by_username(session[:username]) && Account.find_by_username(session[:username]).privilege == 1 %>
          <li style="float:left;"><a href=<%=dashboard_path%>><h5>Dashboard</h5></a></li>
          <li style="float:left;"><a href=<%=logger_path%>><h5>Logger</h5></a></li>
          <li style="float:left;"><a href=<%=account_management_path%>><h5>Accounts</h5></a> </li>
          <li style="float:left;"><a href=<%=settings_path%>><h5>Settings</h5></a> </li>
       <% end %>

       <% if session[:username] != nil %>
            <li style="margin-top:4mm;float:left;width:20%">
               <form name="input" action="logout" method="get">
                   <span class="input-group-btn">
                     <button  type="submit" value="Submit" class="btn btn-default">Logout</button>
                    <%=link_to session[:username], account_management_path, method: :get%> 
                   </span>
                </form>
            </li>
        <%end%>

        <% if session[:username] == nil %>
   
           <form name="input" action="login" method="get">
	     <li style="margin-top:4mm;float:left"><a><button type="submit" value="Submit" class="btn btn-default">Login</button></a></li>
             <li style="margin-top:4mm;width:20%;float:left"><a><input type="text" name="username" class="form-control" placeholder="username" required="true"></a></li>
             <li style="margin-top:4mm;width:20%;float:left"><a><input type="password" name="password" class="form-control" placeholder="password" required="true"></a></li>
           </form>
                
        <%end%>
      </ul>
    </div>
  </div>
</nav>
</div>

<div id="container" class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <% act = Account.find_by_username('admin') %>
    <% if !act.nil? && !act.setting.nil? %>
      <%= act.setting.org %>
    <% end %>
  </div>
</footer>
</body>
</html>
